.row img {
    display: inline-block;
    margin-top: 15px;
    padding-top: 15px;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}
header{
    height: 100px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}
header h1{
    padding-top: 20px;
    padding-left: 50px;
    float: left;
}
header li{
    margin-top: 30px;
    float: right;
    display: inline-block;
    size: 30px;
    text-decoration: none;
    text-size: 100px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}
header li:hover{
    color: white;
}