<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-12" style="text-align: center">
            <br>
            <h1 class=header style="text-align: center;">TIME IS AN ILLUSION</h1>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>


    <div class="row">
        <div class="col-6">
            <h3>Format ISO</h3>
            <p th:text="${#dates.formatISO(standardDate)}"></p>
            <p th:text="${#temporals.formatISO(localDateTime)}"></p>
            <p th:text="${#temporals.formatISO(localDate)}"></p>
            <p th:text="${#temporals.formatISO(timestamp)}"></p>
        </div>
        <div class="col-6" style="text-align: center">
            <img class="d-block w-100" src="formatiso.PNG" alt="Format ISO">
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-6">
            <h3>Format manually</h3>
            <p th:text="${#dates.format(standardDate, 'MM-dd-yyyy HH:mm')}"></p>
            <p th:text="${#temporals.format(localDateTime, 'dd-MM-yyyy HH:mm')}"></p>
            <p th:text="${#temporals.format(localDate, 'MM-dd-yyyy')}"></p>
        </div>
        <div class="col-6" style="text-align: center">
            <img class="d-block w-100" src="formatmanually.PNG" alt="Format Manually">
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-6" >
            <h3>Show only which day of a week</h3>
            <p th:text="${#dates.day(standardDate)}"></p>
            <p th:text="${#temporals.day(localDateTime)}"></p>
            <p th:text="${#temporals.day(localDate)}"></p>
        </div>
        <div class="col-6" style="text-align: center">
            <img class="d-block w-100" src="showonlyday.PNG" alt="Show only day">
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-6" >
            <h3>Show the name of the week day</h3>
            <p th:text="${#dates.dayOfWeekName(standardDate)}"></p>
            <p th:text="${#temporals.dayOfWeekName(localDateTime)}"></p>
            <p th:text="${#temporals.dayOfWeekName(localDate)}"></p>
        </div>
        <div class="col-6" style="text-align: center">
            <img class="d-block w-100" src="showdayname.PNG" alt="show day name">
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-6" >
            <h3>Show the second of the day</h3>
            <p th:text="${#dates.second(standardDate)}"></p>
            <p th:text="${#temporals.second(localDateTime)}"></p>
        </div>
        <div class="col-6" style="text-align: center">
            <img class="d-block w-100" src="showdaysecond.PNG" alt="show day second">
        </div>
    </div>
    <hr>


    <div class="row">
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>